<ion-item [attr.measurement-date]="projection.date | date: 'yyyy-MM-dd'" button (click)="tapped.emit(null)">
    <ion-icon (click)="toggleDetails($event)" [name]="expanded ? 'chevron-up-circle-outline' : 'chevron-down-circle-outline'" vertical="top" slot="start"></ion-icon>

    <div class="projection-item">
        <span class="date">{{ projection.date | date }}</span> <br/>
        <br />

        <div class="right-corner">
            <span class="weight" [class.projected]="!!projection.projected">
                <ion-icon class="scale-icon" *ngIf="!projection.projected" name="scale-outline"></ion-icon>
                {{ projection.weight | number:'1.2-2' }} {{ projection.unit }}
            </span>
        </div>

        <div class="additional-info">
            <span class="calory-label">
                <ng-container *ngIf="projection.plannedIntake > 0">
                    {{ 'overview_planned_intake' | translate }} {{ projection.plannedIntake | number:'1.0-0' }}
                </ng-container>

                <ng-container *ngIf="projection.plannedIntake === 0">
                    <ion-icon name="alert-circle-outline"></ion-icon> {{ 'overview_fasting_day' | translate }}
                </ng-container>
            </span>

            <span class="calory-label" *ngIf="projection.caloricDeficit > 0">({{ 'overview_overall_deficit' | translate }} {{ projection.caloricDeficit | number: '1.0-0' }})</span>

            <div class="change-indicator" [class.projected]="projection.projected" *ngIf="!!previous && previous.weight !== projection.weight">
                <ion-badge color="danger" *ngIf="previous.weight < projection.weight">+{{ (projection.weight - previous.weight) | number:'1.2-2' }}{{ previous.unit }}</ion-badge>
                <ion-badge color="success" *ngIf="previous.weight > projection.weight">-{{ (previous.weight - projection.weight) | number:'1.2-2' }}{{ previous.unit }}</ion-badge>
            </div>
        </div>

        <div class="details" [ngClass]="{ 'collapsed' : !expanded }">
            <ion-badge class="space-2" *ngIf="!!projection.projected">{{ 'generic_projection' | translate }}</ion-badge>
            <ion-badge [color]="(projection.projected || !projection.consumed || (projection.plannedIntake >= projection.consumed)) ? 'success' : 'warning'" class="space-2">{{ 'overview_intake' | translate }}: {{ projection.consumed | formatTrackedNumber }}</ion-badge>
            <ion-badge color="tertiary" class="space-2" *ngIf="projection.daysOfStickingToPlan > 0">{{ 'overview_series_success' | translate:projection }}</ion-badge>
        </div>
    </div>
</ion-item>

