.projection-item {
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    width: 100%;

    .date {
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: small;
    }

    .right-corner {
        position: absolute;
        top: 10px;
        right: 10px;

        .weight {
            font-size: x-large;
    
            .scale-icon {
                font-size: large;
            }
        }
    }

    .additional-info {
        padding-left: 10px;
    }

    .change-indicator {
        float: right;
        margin-right: 10px;

        &.projected {
            opacity: 0.8;
        }
    }

    .calory-label {
        font-size: small;
        padding-right: 10px;
    }

    .projected {
        color: var(--ion-color-medium);
    }

    .details {
        transition: height 0.3s;
        height: 2em;
        padding: 0.25em;
        opacity: 1;

        &.collapsed {
            opacity: 0;
            height: 0;
        }
    }

    .space-2 {
        margin: 0.25em;
    }
}