<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'overview_title' | translate }}</ion-title>
    </ion-toolbar>

    <div class="status" *ngIf="!!status && status !== 'Empty'">
        <span class="current-weight">{{ status.weight | number:'1.2-2' }} {{ profile.weightUnit }}</span>
        <span class="lost-weight">-{{ status.lostWeight | number: '1.2-2' }} {{ profile.weightUnit }}</span>
        <span class="bmi">{{ 'overview_bmi' | translate }}: {{ status.bmi | number: '1.2-2' }}</span>
    </div>
</ion-header>

<ion-content [fullscreen]="false">
    <ion-list>          
        <ng-container *ngFor="let measurement of projections; let i = index">
            <faw-projection-item
                [projection]="measurement"
                [previous]="projections[i - 1]"
                (tapped)="showMeasuringDialog(measurement)">
            </faw-projection-item>
        </ng-container>
    </ion-list>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="showMeasuringDialog()"><ion-icon name="add"></ion-icon></ion-fab-button>
    </ion-fab>
</ion-content>
