.status {
    width: 80%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: x-large;
    position: relative;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding: 1.2em;

    .current-weight, .lost-weight {
        display: block;
    }

    .lost-weight {
        font-size: small;
    }

    .bmi {
        position: absolute;
        right: 10px;
        bottom: 10px;
        font-size: small;
    }
}