<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>{{ 'modal_measurement_title' | translate }}</ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-list [formGroup]="form" *ngIf="form">
        <ion-item>
            <ion-label>{{ 'modal_measurement_date' | translate }}</ion-label>
            <ion-input type="date" [formControlName]="'date'"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'modal_measurement_weight' | translate }} ({{ (profile.weightUnit === 'kg' ? 'profile_kg_unit' : 'profile_pound_unit') | translate }})</ion-label>
            <ion-input type="number" [formControlName]="'weight'"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'modal_measurement_consumed' | translate }}</ion-label>
            <ion-input type="number" [formControlName]="'consumed'"></ion-input> <br>
            <ion-label *ngIf="form.get('consumed').value < 0" vertical="bottom">{{ 'generic_caloric_deficit' | translate }}</ion-label>
        </ion-item>
    </ion-list>
    
</ion-content>

<ion-footer>
    <ion-button color="primary" (click)="accept()">{{ 'modal_measurement_save' | translate }}</ion-button>
    <ion-button color="secondary" (click)="dismiss()">{{ 'common_cancel' | translate }}</ion-button>
</ion-footer>
