<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'profile_title' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-list [formGroup]="form" *ngIf="!!form">
        <ion-list-header>
            {{ 'profile_base_settings_header' | translate }}
        </ion-list-header>

        <ion-item>
            <ion-label>{{ 'profile_sex' | translate }}</ion-label>
            <ion-select [formControlName]="'sex'">
                <ion-select-option value="Male">{{ 'profile_male' | translate }}</ion-select-option>
                <ion-select-option value="Female">{{ 'profile_female' | translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'profile_weight_unit' | translate }} </ion-label>
            <ion-select [formControlName]="'weightUnit'">
                <ion-select-option value="kg">{{ 'profile_kg_unit' | translate }}</ion-select-option>
                <ion-select-option value="pound">{{ 'profile_pound_unit' | translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'profile_weight_unit' | translate }} </ion-label>
            <ion-select [formControlName]="'heightUnit'">
                <ion-select-option value="inches">{{ 'profile_inches_unit' | translate }}</ion-select-option>
                <ion-select-option value="cm">{{ 'profile_cm_unit' | translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'profile_activity_level' | translate }} </ion-label>
            <ion-select [formControlName]="'activityLevel'">
                <ion-select-option value="Sedentary">{{ 'profile_activity_level_sedentary' | translate }}</ion-select-option>
                <ion-select-option value="Lightly Active">{{ 'profile_activity_level_lightly' | translate }}</ion-select-option>
                <ion-select-option value="Moderately Active">{{ 'profile_activity_level_moderatly' | translate }}</ion-select-option>
                <ion-select-option value="Very Active">{{ 'profile_activity_level_very' | translate }}</ion-select-option>
                <ion-select-option value="Extremely Active">{{ 'profile_activity_level_extremely' | translate }}</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-list-header>
            {{ 'profile_start_metrics' | translate }}
        </ion-list-header>

        <ion-item>
            <ion-label>{{ 'profile_starting_weight' | translate }} ({{ (profile.weightUnit === 'kg' ? 'profile_kg_unit' : 'profile_pound_unit') | translate }}) </ion-label>
            <ion-input type="number" [formControlName]="'startingWeight'"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'profile_height' | translate }} ({{ (profile.heightUnit === 'cm' ? 'profile_cm_unit' : 'profile_inches_unit') | translate }})</ion-label>
            <ion-input type="number" [formControlName]="'height'"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>{{ 'profile_activity_birthday' | translate }}</ion-label>
            <ion-input type="date" [formControlName]="'birthday'"></ion-input>
        </ion-item>

        <ion-list-header>
            {{ 'profile_measurings_section' | translate}}
        </ion-list-header>

        <ion-item>
            <ion-label>{{ 'profile_measurings_delete_all_label' | translate }}</ion-label>
            <ion-button color="danger" (click)="promptMeasurementDeletion()">{{ 'profile_measurings_delete_all' | translate }}</ion-button>
        </ion-item>
    </ion-list>
</ion-content>
